@import url('https://fonts.googleapis.come/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
body {
    margin: 20px;
    text-align: justify;
    overflow-x: hidden;
    background: linear-gradient(#2b1055, #000000, #000000, #000000, #2b1055);
}

header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 3vh 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}
header .logo
{
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 3vw;
    text-transform: uppercase;
    letter-spacing: 0.5vw;
}
header ul
{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li
{
    list-style: none;
    margin-left: 2.5vw;
}
header ul li a
{
    text-decoration: none;
    padding: 0.5vw 1vw;
    color: #fff;
    border-radius: 2.5vw;
}
header ul li a:hover,
header ul li a.active
{
    background: #fff;
    color: #2b1055;
}

.team-member,
.mentor {
    padding: 20px;
    margin: 10px;
    text-align: center;
}

.container {
    top: 100vh;
}

h3 {
    font-size: 2em;
    margin-bottom: 10px;
    color: #fff;
}

p {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #fff;
}

h1 {
    font-size: 3em;
    color: #fff;
}

h2{
    font-size: 3em;
    color: #fff;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 30%;
}

#stars1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Adjust as needed */
    overflow: hidden; /* Hide the overflow */
}

#stars1 img {
    max-width: 100%; /* Set maximum width to 100% of container */
    max-height: 100%; /* Set maximum height to 100% of container */
    width: auto; /* Allow the width to adjust proportionally */
    height: auto; /* Allow the height to adjust proportionally */
    display: block; /* Ensure proper block-level display */
    margin: auto; /* Center the images */
    animation: starfloating 60s infinite linear; /* Apply animation to the image */
}

@keyframes starfloating {
    0% {
        transform: translateX(0%);
    }
    50% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}

#stars1r {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Adjust as needed */
    overflow: hidden; /* Hide the overflow */
}

#stars1r img {
    max-width: 100%; /* Set maximum width to 100% of container */
    max-height: 100%; /* Set maximum height to 100% of container */
    width: auto; /* Allow the width to adjust proportionally */
    height: auto; /* Allow the height to adjust proportionally */
    display: block; /* Ensure proper block-level display */
    margin: auto; /* Center the images */
    animation: starfloatingr 60s infinite linear; /* Apply animation to the image */
}

@keyframes starfloatingr {
    0% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

#stars2 {
    position: absolute;
    top: 75vh;
    left: 0;
    width: 100%; /* Adjust as needed */
    overflow: hidden; /* Hide the overflow */
}

#stars2 img {
    max-width: 100%; /* Set maximum width to 100% of container */
    max-height: 100%; /* Set maximum height to 100% of container */
    width: auto; /* Allow the width to adjust proportionally */
    height: auto; /* Allow the height to adjust proportionally */
    display: block; /* Ensure proper block-level display */
    margin: auto; /* Center the images */
    animation: starfloating2 60s infinite linear; /* Apply animation to the image */
}

@keyframes starfloating2 {
    0% {
        transform: translateX(0%);
    }
    50% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}

#stars2r {
    position: absolute;
    top: 75vh;
    left: 0;
    width: 100%; /* Adjust as needed */
    overflow: hidden; /* Hide the overflow */
}

#stars2r img {
    max-width: 100%; /* Set maximum width to 100% of container */
    max-height: 100%; /* Set maximum height to 100% of container */
    width: auto; /* Allow the width to adjust proportionally */
    height: auto; /* Allow the height to adjust proportionally */
    display: block; /* Ensure proper block-level display */
    margin: auto; /* Center the images */
    animation: starfloating2r 60s infinite linear; /* Apply animation to the image */
}

@keyframes starfloating2r {
    0% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}