<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link href="{{ url_for('static', filename='loadstyle.css') }}" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <div class="loading">
        <h2>LOADING</h2>
    </div>
    <div id="stars1">
        <img src="{{ url_for('static', filename='stars.png') }}">
    </div>
    <div id="stars1r">
        <img src="{{ url_for('static', filename='stars.png') }}">
    </div>
</body>